// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.tab-button{
    border-top : solid 2px #3769AC;
    
}
.tab-button[aria-selected=true] {
    border-top: solid 2px #7C9DCA;
    .tab-button-text {
        color : white;
    }
}
.tab-button-text {
    color : #768CBD;
}
.tabs-ios[tabsPlacement=top] .tabbar{
    border-top : 0px;
}


ion-item-sliding:not(:last-child) .item {
    border-bottom: 0.55px solid #c8c7cc;
    
}

.list-md .item-block .item-inner,.item-md.item-block .item-inner
.list-ios .item-block .item-inner,.item-ios.item-block .item-inner,
.header-ios .toolbar-ios:last-child .toolbar-background-ios {
        border: none;
    }

    .searchbar-ios {
        padding:15px;
    }
    .searchbar-ios .searchbar-input {
        border-radius: 0px;
    }

.item-md , .item-ios , .item-wp {
    ion-avatar {
        display: flex;
        vertical-align: middle;
        width: 50px;
        height: 50px;
        img {
        width: 15px;
        height: 15px;
        margin: auto;
    }
    }
    

}

